<div>
    <h2>Sobre Nosotros</h2>
    <br><br><br><br>
    <div class="banner">
        <p class="item1">
            Somos una compañía que se dedica al diseño y desarrollo de soluciones 
            tecnológicas, especialmente enfocadas en el ámbito sanitario. 
            Nuestro objetivo principal es ofrecer herramientas innovadoras que mejoren la eficiencia y 
            la calidad de los servicios médicos, facilitando la gestión documental, la comunicación 
            entre profesionales de la salud y la atención al paciente.
        </p>
        <img src="assets/pexels-mart-production-7089401.jpg" class="item2">
    </div>
</div>

<div class="circle-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256"><path fill="currentColor" d="M116 72v88a48.05 48.05 0 0 1-48 48a8 8 0 0 1 0-16a32 32 0 0 0 32-32v-8H40a16 16 0 0 1-16-16V72a16 16 0 0 1 16-16h60a16 16 0 0 1 16 16m100-16h-60a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h60v8a32 32 0 0 1-32 32a8 8 0 0 0 0 16a48.05 48.05 0 0 0 48-48V72a16 16 0 0 0-16-16"/></svg>
</div>

<div class="circle-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256"><path fill="currentColor" d="M116 72v88a48.05 48.05 0 0 1-48 48a8 8 0 0 1 0-16a32 32 0 0 0 32-32v-8H40a16 16 0 0 1-16-16V72a16 16 0 0 1 16-16h60a16 16 0 0 1 16 16m100-16h-60a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h60v8a32 32 0 0 1-32 32a8 8 0 0 0 0 16a48.05 48.05 0 0 0 48-48V72a16 16 0 0 0-16-16"/></svg>
</div>

<div class="circle-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256"><path fill="currentColor" d="M116 72v88a48.05 48.05 0 0 1-48 48a8 8 0 0 1 0-16a32 32 0 0 0 32-32v-8H40a16 16 0 0 1-16-16V72a16 16 0 0 1 16-16h60a16 16 0 0 1 16 16m100-16h-60a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h60v8a32 32 0 0 1-32 32a8 8 0 0 0 0 16a48.05 48.05 0 0 0 48-48V72a16 16 0 0 0-16-16"/></svg>
</div>

<div class="carta-2">
    <div class="carta">
        <h3>Misión</h3>
        <p>
            Nuestra misión es ofrecer las 
            herramientas mas cómodas 
            y optimas a los profesionales
            médicos, así como una buena 
            UI amigable de esta manera 
            lograremos que sus tareas
            sean mas llevaderas y su 
            documentación mas completa.
        </p>
    </div>

    <div class="carta">
        <h3>Visión</h3>
        <p>
            Optimizar todo el proceso 
            de tramitación documental 
            del ámbito sanitario, hacerlo lo
            mas cómodos posible y por 
            extensión agilizar los tiempos 
            de espera, ergo mejorar la
            salud de las personas.
        </p>
    </div>

    <div class="carta">
        <h3>Valores</h3>
        <p>
            En nuestra empresa valoramos 
            la pasión, la disciplina así como 
            todas las aptitudes y
            actitudes 
            que puedan ayudarnos a 
            alcanzar la excelencia, tanto 
            en nuestros proyectos
            como 
            en el día a día. 
            Como dijo Sócrates la 
            excelencia no es un acto sino 
            un hábito.
        </p>
    </div>

</div>

<br><br><br>

<div class="contacto">

    <h2>Información de contactos</h2>

    <p>
        Si desea alguna información adicional, 
        estaremos a gusto de asistirle. 
        Por favor, sírvase en completar el siguiente formulario y 
        nos pondremos en contacto con usted a la mayor brevedad posible.
    </p>
    
    <h3>Teléfono: +34 631 515 809</h3>
    <h3>Email: info&#64;eirlabs.com</h3>

    <app-contact></app-contact>
    
</div>