<div class="triangulo">
    <div style="background: url('../../assets/enfermeriacabecera.jpg' ) repeat 50% 17%;background-size: 1920;"></div>
</div>
<div class="ayuda-container">

    <div class="ayuda-texto">
        <h1>¿Necesitas ayuda?</h1>
        <h2>Preguntas frecuentes</h2>
        <div class="preguntas">
            <div>
                <div><a href="/ayuda#atendido">Cómo ser atendido en el Hospital</a></div>
                <div><a href="/ayuda#solicitar">Solicitar documentación clínica de un paciente</a></div>
                <div><a href="/ayuda#voluntariado">Hacer voluntariado</a></div>
            </div>
            <div>
                <div><a href="/ayuda#visitas">Cambiar o anular una visita</a></div>
                <div><a href="/ayuda#donacion">Hacer una donación</a></div>
                <div><a href="/ayuda#localizacion">Cómo llegar al Hospital (transporte y aparcamiento)</a></div>
            </div>
        </div>
        <div class="respuestas">
            <h3>Eir Labs: Simplificando la Medicina</h3>
            <p> La medicina es un campo complejo y en constante evolución, donde la tecnología juega un papel
                fundamental en el diagnóstico y tratamiento de enfermedades. En este sentido, Eir Labs ha revolucionado
                la forma en que se practica la medicina, simplificando los procesos clínicos y poniendo un fuerte
                énfasis en el buen trato humano.
            </p>
            <br>
            <p> Eir Labs es una empresa líder en el desarrollo de tecnologías innovadoras para el sector de la salud. Su
                enfoque se centra en simplificar los procesos clínicos, haciendo que la medicina sea más accesible y
                eficiente para todos. Gracias a sus soluciones tecnológicas avanzadas, los profesionales de la salud
                pueden realizar diagnósticos más precisos y tratamientos más efectivos.
            </p>
            <h3>¡Simplifica tu Experiencia en la Clínica con Eir Labs!</h3>
            <p>
                La Clínica Eir Labs se destaca por su enfoque simplificado hacia los enfermeros y enfermeras, brindando
                una atención de alta calidad y personalizada a cada paciente. Su compromiso con la excelencia en el
                cuidado de la salud, combinado con su enfoque centrado en el paciente, la convierte en una clínica líder
                en el campo de la medicina.
            </p>
            <p>
                La Clínica EIR Labs se destaca por su enfoque simplificado y eficiente hacia la enfermería, brindando un
                entorno de trabajo óptimo que permite a los profesionales de la salud concentrarse en proporcionar la
                mejor atención posible a sus pacientes.
            </p>
            <p>
                En Clínica Eir Labs, nuestro enfoque en enfermería se centra en simplificar y mejorar el flujo de
                trabajo para brindar una atención óptima a nuestros pacientes. Creemos firmemente en la importancia de
                optimizar los procesos de enfermería para garantizar una atención eficiente y de calidad.

                Nuestro equipo de enfermería está altamente capacitado y comprometido con proporcionar el mejor cuidado
                posible a cada paciente. Trabajamos en estrecha colaboración con los médicos y personal clínico para
                asegurar que cada paso del proceso de atención al paciente se realice de manera fluida y eficiente.

                Además, implementamos tecnología de vanguardia en nuestra clínica para agilizar los procesos de
                enfermería y facilitar la comunicación entre el personal médico y de enfermería. Esto nos permite
                ofrecer una atención más personalizada y centrada en el paciente, mejorando así la experiencia global de
                atención médica en nuestra clínica. En Clínica Eir Labs, nos esforzamos por simplificar y mejorar
                continuamente la enfermería para optimizar el tratamiento de nuestros pacientes.
            </p>
            <div class="faq">
                <div id="atendido">
                    <h3>Cómo ser atendido en el Hospital</h3>
                    <p>
                        En Eir labs nos esforzamos por ofrecer una atención al cliente humana, cercana y de calidad.
                        Sabemos
                        lo
                        importante que es sentirse bien atendido en un momento de vulnerabilidad como es una visita al
                        hospital,
                        por lo que ponemos todo nuestro empeño en brindar un servicio excepcional a todos nuestros
                        pacientes.<br><br>

                        <b>Atención al cliente de calidad</b>
                        En nuestro hospital, la atención al cliente es nuestra prioridad. Nos preocupamos por cada uno
                        de
                        nuestros pacientes y nos esforzamos por ofrecer un trato personalizado y cercano. Nuestro equipo
                        de
                        profesionales está altamente cualificado y cuenta con una amplia experiencia en el sector de la
                        salud,
                        lo que nos permite garantizar una atención de calidad en todo momento.
                    </p><br>
                </div>
                <div id="solicitar">
                    <h3>Solicitar documentación clínica de un paciente</h3>
                    <p>
                        Te indicamos dónde encontrar la documentación clínica (informes, pruebas de imagen, análisis
                        clínicos,...) de un paciente y qué requisitos necesitas para solicitar aquella que requiera de
                        gestiones por nuestra parte.
                    </p>

                    <p> ¿Quién puede solicitar la documentación clínica de un paciente?</p>
                    <ul>
                        a partir de 14 años.<br>
                        Padres/madres, tutores legales y entidades tutelares, en el caso de pacientes menores de edad o
                        mayores de edad incapacitados.<br>
                        El plazo aproximado de entrega de la documentación es de 30 días naturales.
                    </ul>
                    <br>
                </div>

                <h3 id="voluntariado">Hacer voluntariado</h3>
                <div class="voluntariado">
                    <p>
                        Los voluntarios son personas que dan su tiempo, energía y ganas, con el objetivo de hacer más
                        llevadera la estancia de los pacientes y sus familias en el hospital. De esta manera generan un
                        vínculo y un compromiso con los valores de hospitalidad, solidaridad y compromiso de hospital
                        Eirlabs, a
                        través de un acto de puro altruismo como es el voluntariado.<br>

                        Actualmente, contamos con un equipo de voluntarios de 20 personas que realizan diferentes
                        funciones, todas muy diversas: desde la gestión de actividades, hasta la gestión de diferentes
                        talleres infantiles o la organización de eventos. Si paseas por el hospital verás que los
                        voluntarios están presentes en casi todas zonas del hospital, siempre aportando y sumando
                        cooperación con el equipo de trabajadores del propio hospital.<br>
                        <span class="destacado">Actualmente todas las plazas disponibles ya estan ocupadas</span>
                    </p><br>
                    <img src="../../assets/voluntariado.jpg" alt="Voluntarios">
                </div>
                <div id="visitas">
                    <h3>Cambiar o anular una visita</h3>
                    <p>
                        Para cambiar o anular una visita en el hospital EIR Labs, te recomendamos comunicarte
                        directamente
                        con la recepción del hospital o con el departamento de citas médicas, bien por teléfono o a
                        través
                        de la página web del hospital. También puedes reservar o cancelar tu visita en la sección de
                        <span class="destacado">Reservas</span> de la página web del hospital o llamando al número de
                        teléfono establecido por el
                        hospital. Es importante proporcionarles la mayor antelación posible para evitar inconvenientes.
                    </p><br>
                </div>
                <div id="donacion">
                    <h3>Hacer una donación</h3>
                    <p>
                        Para hacer una donación al Hospital Eir Labs, puedes hacerlo de varias maneras. Puedes hacer una
                        donación en línea en la página web oficial del hospital <a href="/home">www.eir-labs.com</a> y
                        seguir
                        los pasos para realizar
                        la transacción. También puedes hacer una donación por teléfono llamando al
                        <b class="telefono">+34 631 515 809</b> y hablar con un representante de la organización.
                        Además,
                        puedes hacer una donación en persona
                        visitando el hospital y hablar con un miembro del personal. Es importante tener en cuenta que es
                        importante verificar la legitimidad del hospital y la seguridad de la transacción antes de hacer
                        una
                        donación.
                    </p><br>
                </div>
                <div id="localizacion">
                    <h3>Cómo llegar al Hospital</h3>
                    <p>Nos podras encontrar en</p>
                    <p class="destacado">Av. Alcalde Rovira Roure, 80, 25198, Lleida.</p><br>
                    <p>
                        Nos podrás encontrar en la Av. Alcalde Rovira Roure, 80, 25198, Lleida.
                        A continuación te presentamos un mapa donde muestra nuestra dirección y coordenadas exactas para
                        que
                        encontrarnos es más fácil e intuitivo. Te esperamos o mejor no (porque tu salud no corre
                        peligro) 😉
                    </p><br>
                </div>
                <button onclick="topFunction()" id="myBtn" title="Go to top">Arriba</button>
                <div class="mapa">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11930.613899393316!2d0.608416636706544!3d41.62000450934565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a6e024356d43d3%3A0xab5c1aaee590174e!2sHospital%20Universitario%20Arnau%20de%20Vilanova!5e0!3m2!1ses!2ses!4v1716385098614!5m2!1ses!2ses"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div><br>
                <a href="/ayuda/#top"> scroll to top </a>
               
            </div>
        </div>
    </div>