footer {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    background-color: #25A18E;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    color: white;
}

.pie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    /* flex-wrap: nowrap; */
}
.pie a{
    color: white;
}

.margen {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

.ppp {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: white;
}

.ddd{
    padding: 5px;
    color: white;
}

.linea {
    display: flex;
    flex-direction: row;
}
