footer {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.pie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}

.margen {
    padding: 10px;
}

.ppp {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.ddd{
    padding: 5px;
}

.linea {
    display: flex;
    flex-direction: row;
}