<div class="container-1">

    <h1>EIRLABS</h1>
    <p class="text-1">Gestiona centros de salud de manera <br> eficiente</p>
  
    <div class="container-child">
      <button class="cta-1">descubre más</button>
      <div class="cta-2">
        <a href="#" class="learn-2">learn more <svg class="learnMore" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1024 1024"><path fill="currentColor" d="M754.752 480H160a32 32 0 1 0 0 64h594.752L521.344 777.344a32 32 0 0 0 45.312 45.312l288-288a32 32 0 0 0 0-45.312l-288-288a32 32 0 1 0-45.312 45.312z"/></svg></a>
      </div>
  
    </div>
  </div>
  
  <div class="container-2">
    <h4 class="a1">FEATURES</h4>
    <h2 class="a2">Características destacadas</h2>
    <p class="a3">Descubre cómo EIRLABS puede ayudarte a gestionar tus centros de salud de manera eficiente</p>
  
    <div class="grid-container">
      <div class="grid-item">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path class="path" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 21l7.794-4.5v-9M12 21l-7.794-4.5v-9M12 21v-9m7.794-4.5L12 3L4.206 7.5m15.588 0L12 12M4.206 7.5L12 12"/></svg>
        
        <div class="container-3">
          <p class="bold">Gestión de centros de salud</p>
          <p class="a4">Administra y organiza todos los centros de salud en un solo lugar</p>
        </div>
      </div>
  
      <div class="grid-item">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 21l7.794-4.5v-9M12 21l-7.794-4.5v-9M12 21v-9m7.794-4.5L12 3L4.206 7.5m15.588 0L12 12M4.206 7.5L12 12"/></svg>
        
        <div class="container-3">
          <p class="bold">Chatbot integrado</p>
          <p class="a4">Obtén respuestas rápidas y precisas a tus preguntas a través de
            nuestro chatbot</p>
        </div>
      </div>
  
      <div class="grid-item">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 21l7.794-4.5v-9M12 21l-7.794-4.5v-9M12 21v-9m7.794-4.5L12 3L4.206 7.5m15.588 0L12 12M4.206 7.5L12 12"/></svg>
        
        <div class="container-3">
          <p class="bold">Agenda de citas</p>
          <p class="a4">Programa y gestiona citas médicas de manera eficiente</p>
        </div>
      </div>
  
      <div class="grid-item">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 21l7.794-4.5v-9M12 21l-7.794-4.5v-9M12 21v-9m7.794-4.5L12 3L4.206 7.5m15.588 0L12 12M4.206 7.5L12 12"/></svg>
        
        <div class="container-3">
          <p class="bold">Diagnóstico médico</p>
          <p class="a4">Accede a herramientas de diagnóstico para ayudar en la evaluación de
            pacientes</p>
        </div>
      </div>
    </div>
  
  </div>
  
  <div class="container-2">
    <h2 class="a2">Optimiza la gestión de tus centros de salud</h2>
    <p class="a3">EIRLABS es una plataforma integral diseñada para facilitar la administración y organización de tus centros de salud. Con nuestras herramientas avanzadas y nuestro chatbot
      integrado, podrás agilizar los procesos, mejorar la comunicación con tus pacientes y optimizar la atención médica.</p>
      <button class="cta-1">leer más</button>
  </div>
  
  <div class="faq">
    <div class="faq-1">
      <h6>FAQ</h6>
      <h2>Common Questions</h2>
      <p class="faq-5">
        Here are some of the
        most common questions
        that we get.
      </p>
    </div>
  
    <div class="faq-2">
      <div class="faq-3">
        <h3>¿Cómo puedo registrarme en EIRLABS?</h3>
        <p class="faq-4">Para registrarte en EIRLABS, ve a la página de registro y completa el formulario con tus datos personales. Una vez enviado, recibirás un
          correo electrónico de confirmación con los pasos a seguir para activar tu cuenta.</p>
      </div>
  
      <div class="faq-3">
        <h3>¿Cómo puedo solicitar una cita en un centro de salud?</h3>
        <p  class="faq-4">
          Para solicitar una cita en un centro de salud, inicia sesión en tu cuenta de EIRLABS y ve al apartado de 'Citas'. Allí podrás seleccionar el centro
          de salud, el médico y la fecha y hora que más te convenga. Una vez confirmada la cita, recibirás una notificación por correo electrónico.
        </p>
      </div>
  
      <div class="faq-3">
        <h3>¿Puedo cancelar o modificar una cita ya programada?</h3>
        <p  class="faq-4">Sí, puedes cancelar o modificar una cita ya programada. Solo necesitas iniciar sesión en tu cuenta de EIRLABS y acceder al apartado de
          'Citas'. Allí encontrarás la opción para cancelar o modificar la cita según tus necesidades.</p>
      </div>
  
      <div class="faq-3">
        <h3>¿Cómo puedo editar mi perfil de usuario?</h3>
        <p  class="faq-4">Para editar tu perfil de usuario en EIRLABS, inicia sesión en tu cuenta y ve al apartado de 'Editar perfil'. Allí podrás actualizar tus datos
          personales, cambiar tu contraseña y gestionar tus preferencias de notificaciones.</p>
      </div>
  
      <div class="faq-3">
        <h3>¿Qué hago si tengo problemas técnicos con la plataforma?</h3>
        <p  class="faq-4">Si experimentas problemas técnicos con la plataforma de EIRLABS, te recomendamos visitar la página de ayuda donde encontrarás
          soluciones a problemas comunes. Si el problema persiste, puedes ponerte en contacto con nuestro equipo de soporte técnico a través del
          formulario de contacto o del chatbot integrado en la página.</p>
      </div>
    </div>
  </div>
