<div>
    <h2>Sobre Nosotros</h2>
    <div class="banner">
        <p class="item1">
            Somos una compañía que se dedica al diseño y desarrollo de soluciones 
            tecnológicas, especialmente enfocadas en el ámbito sanitario. 
            Nuestro objetivo principal es ofrecer herramientas innovadoras que mejoren la eficiencia y 
            la calidad de los servicios médicos, facilitando la gestión documental, la comunicación 
            entre profesionales de la salud y la atención al paciente.
        </p>
        <img src="assets/pexels-mart-production-7089401.jpg" class="item2">
    </div>
</div>

<div class="carta-2">
    <div class="carta">
        <h3>Misión</h3>
        <p>
            Nuestra misión es ofrecer las 
            herramientas mas cómodas 
            y optimas a los profesionales
            médicos, así como una buena 
            UI amigable de esta manera 
            lograremos que sus tareas
            sean mas llevaderas y su 
            documentación mas completa.
        </p>
    </div>

    <div class="carta">
        <h3>Visión</h3>
        <p>
            Optimizar todo el proceso 
            de tramitación documental 
            del ámbito sanitario, hacerlo lo
            mas cómodos posible y por 
            extensión agilizar los tiempos 
            de espera, ergo mejorar la
            salud de las personas.
        </p>
    </div>

    <div class="carta">
        <h3>Valores</h3>
        <p>
            En nuestra empresa valoramos 
            la pasión, la disciplina así como 
            todas las aptitudes y
            actitudes 
            que puedan ayudarnos a 
            alcanzar la excelencia, tanto 
            en nuestros proyectos
            como 
            en el día a día. 
            Como dijo Sócrates la 
            excelencia no es un acto sino 
            un hábito.
        </p>
    </div>

</div>

<h2>CONTACTO</h2>