.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Alinear el texto en el centro */
}

h1, .text-1, .container-child {
    padding: 10px;
}

.container-child {
    display: flex;
    justify-content: center; /* Centrar los elementos horizontalmente */
    align-items: center; /* Centrar los elementos verticalmente */
}

.cta-1 {
    font-weight: bold;
    padding: 15px 25px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

.learn {
    font-weight: bold;
    padding: 15px 25px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

.cta-1 {
    margin-right: 5px; /* Ajustar el margen derecho para separar los botones */
}

.learn {
    margin-left: 5px; /* Ajustar el margen izquierdo para separar los botones */
}

.learn {
    text-decoration: none;
    color: #000;
}

.text-1 {
    text-align: center;
}

.learn {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    margin: 5px;
}