<div class="ayuda-container">
    <div class="ayuda-img">
        <img src="https://picsum.photos/500/400?random=1">
        <img src="..\assets\cinco-jotas-8-prev1-1608115289.jpg">
        <!-- <img src="https://placehold.co/600x400"> -->        
    </div>
    <div class="ayuda-texto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aliquid consequatur fugit laboriosam iure, magni animi deleniti corrupti reprehenderit exercitationem sequi unde at tempora iusto qui eveniet id ullam quibusdam!
        <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quod sequi aliquid consectetur excepturi ipsam, quia ipsum labore eveniet vel cumque repellat tempore deserunt voluptatibus et numquam quos mollitia veritatis.
    </div>
</div>