.ayuda-texto{
    display: flex;
    font: 1.3em 'Inter', 'Franklin Gothic Medium', Arial;
    justify-content: center;
    align-items: flex-end;
}
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flexbox-properties
https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content
https://developer.mozilla.org/es/docs/Web/CSS/flex */