.ayuda-banner {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1%;
    /* background-size: auto; */
    /* background-position: 50% 10%; */

}

.ayuda-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.3em;
    justify-content: space-between;
    /* object-fit: cover; */
    /* https://http.cat/ */
}
/* VVV Esto era para las imagenes, ahora no se si se volvera a usar pero lo dejo por si acaso */
.ayuda-img {
    /* border: 1px rgb(0, 110, 255) solid; */
    flex-flow: row nowrap;
    justify-content: left;
    align-items: flex-start;
    border-radius: 25px;
    padding: 3%;
}

.ayuda-img img {
    width: 500px;
    height: 400px;
    /* border: 5px solid #ff0000; */
    border-radius: 8.2%;
}
/* ^^^ */
.ayuda-texto {
    border: 1px rgb(255, 0, 157) solid;
    font: 1.3em 'Inter', 'Franklin Gothic Medium', Arial;
    /* justify-content: end; */
    /* align-self: flex-start; */
    /*Esto usa el cross axis para alinearse al principio, ya que flex es row el cross axis sera column por lo que se ira al arriba en vertical ya que ese es el principio de "column".*/
    padding: 1%;
}
.ayuda-texto h1{
    display: flex;
    justify-content: center;
    /* VVVVVVVVVVVVVVVVVVVVVVV
    Estos dos vienen a ser lo mismo
    margin: auto;
    width: fit-content; 
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    */
}

/*
https://www.sjdhospitalbarcelona.org/es/necesitas-ayuda
https://www.freepik.es/search?format=search&last_filter=selection&last_value=1&query=enfermera%20ayudando%20paciente&selection=1
https://www.freepik.es/foto-gratis/mujer-tiro-medio-enfermera-tomados-mano_20825700.htm#fromView=search&page=1&position=5&uuid=56045989-b436-4232-aef9-97d849b54ee4
https://css-tricks.com/snippets/css/a-guide-to-flexbox/#aa-flexbox-properties
https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content
https://developer.mozilla.org/es/docs/Web/CSS/flex */