<img class="ayuda-banner" src="../../assets/enfermeriacabecera.jpg" alt="enfermeros">
<div class="ayuda-container">

    <!-- <div class="ayuda-img">
        <img src="https://picsum.photos/500/400?random=1" alt="LoremPicsum">
        <img src="https://placehold.co/600x400">        
    </div> -->
    <!-- <div class="">

    </div> -->
    <div class="ayuda-texto">
        <h1>¿Necesitas ayuda?</h1>
        <h2>Preguntas frecuentes</h2>
        <div class="preguntas">
            <div>
                <div>Cómo ser atendido en el Hospital</div>
                <div>Solicitar documentación clínica de un paciente</div>
                <div>Hacer voluntariado</div>
            </div>
            <div>
                <div>Cambiar o anular una visita</div>
                <div>Hacer una donación</div>
                <div>Cómo llegar al Hospital (transporte y aparcamiento)</div>
            </div>
        </div>
        <div>
            <h3>Eir Labs: Simplificando la Medicina</h3>
            <p> La medicina es un campo complejo y en constante evolución, donde la tecnología juega un papel
                fundamental en el diagnóstico y tratamiento de enfermedades. En este sentido, Eir Labs ha revolucionado
                la forma en que se practica la medicina, simplificando los procesos clínicos y poniendo un fuerte
                énfasis en el buen trato humano.
            </p>
            <br>
            <p> Eir Labs es una empresa líder en el desarrollo de tecnologías innovadoras para el sector de la salud. Su
                enfoque se centra en simplificar los procesos clínicos, haciendo que la medicina sea más accesible y
                eficiente para todos. Gracias a sus soluciones tecnológicas avanzadas, los profesionales de la salud
                pueden realizar diagnósticos más precisos y tratamientos más efectivos.
            </p>
            <h3>¡Simplifica tu Experiencia en la Clínica con Eir Labs!</h3>
        </div>
    </div>